<!doctype html>
<html class="html">
<head>
  <mata name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8" />
   <link rel="stylesheet" type="text/css" href="index.css">
  <title>PDF to Excel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</head>
<body style="text-align:center;" class="body"> 
  <h1 class="welcome">PDF to Excel</h1>
    <P><img src="https://online.rightpdf.com/Content/images/pdftoexcel.png" height="100" width="160"></P>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="pdf_file">
        <input type="submit" value="上傳 PDF">
    </form>
    <div id="loading" style="display: none;">loading...</div>
    <div id="result">
        {% if message %}
        <p>{{ message }}</p>
        <p><a href="{{ excel_link }}" download>下載 Excel 文件</a></p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $('#convert_btn').click(function() {
                $('#loading').show();
                $('#result').hide();
            });
        });
    </script>
 
</html>
